In [1]:
import pandas as pd

data = pd.read_csv("Trace1 - Copy.csv")
data

        30-10:23:09:04  3257  240  24001029  73424.875000  104371.765625
0       30-10:23:09:23  3247   36   3601312     43417.125  157150.640625
1       30-10:23:09:20  3234  137  13700019     45416.750  132705.234375
2       30-10:23:09:22  3231  240  24000028     85249.750  143949.125000
3       30-10:23:09:14  3228  132  13201311     48678.875   73641.546875
4       30-10:23:09:35  3211   42   4201030     57336.000  128217.078125
...                ...   ...  ...       ...           ...            ...
401571  31-10:19:42:39  1101  151  15101009     72422.625   34571.546875
401572  31-10:19:42:39  4010    7    701013     50492.000  172210.593750
401573  31-10:19:42:39  4018   43   4301012     43827.875  155169.203125
401574  31-10:19:42:39  3594   36   3600004     59963.375  123323.984375
401575  31-10:19:42:39  2407   26   2601010     47465.500  180258.531250

[401576 rows x 6 columns]

In [4]:
import pandas as pd

data = pd.read_csv("Trace1 - Copy2.csv")
data

ParserError: Error tokenizing data. C error: Expected 10 fields in line 37540, saw 11

In [21]:
import pandas as pd

for i in range(1, 6):
    data = pd.read_csv("Trace"+str(i)+".csv")
    filt = (data['index'] == 903)
    data9001 = data.loc[filt]
    data9001.to_csv("data903_"+str(i)+".txt",index=False)

In [22]:
import pandas as pd
df = pd.read_csv("data900.csv")
df

       date  month  hour  minute  second  index  unknown1  unknown2          x              y
0        31     10     7      44      37    900        12   1201019  43121.000  156115.187500
1        31     10     7      46      16    900        12   1201019  42963.125  155385.687500
2        31     10     7      47      52    900        12   1201019  43338.125  154732.953125
3        31     10     7      49      27    900        12   1201019  43847.625  153872.187500
4        31     10     8       2      29    900        12   1201019  48113.125  155649.203125
...     ...    ...   ...     ...     ...    ...       ...       ...        ...            ...
13448     2     12     1      19      57    900        10   1000018  50050.000  157558.250000
13449     2     12     1      20      22    900        10   1000018  50057.875  157878.062500
13450     2     12     1      20      44    900        10   1000018  50066.875  158217.906250
13451     2     12     1      21       8    900        10   1000018  50071.750  158377.984375
13452     2     12     1      21      31    900        10   1000018  50077.125  158557.734375

[13453 rows x 10 columns]

In [23]:
import pandas as pd
df = pd.read_csv("data901.csv")
df

       date  month  hour  minute  second  index  unknown1  unknown2          x              y
0        31     10     8       6      45    901         4    401512  43083.375  156149.484375
1        31     10     8       6      45    901         4    401512  43083.375  156149.484375
2        31     10     8       8      26    901         4    401512  43083.375  156149.484375
3        31     10     8       9      30    901         4    401512  43083.375  156149.484375
4        31     10     8      10       3    901         4    401512  43083.375  156149.484375
...     ...    ...   ...     ...     ...    ...       ...       ...        ...            ...
20477     2     12     0      28       0    901        10   1001020  43354.125  155383.875000
20478     2     12     0      28      28    901        10   1001020  43166.250  155023.078125
20479     2     12     0      28      55    901        10   1001020  43257.875  154868.421875
20480     2     12     0      29      23    901        10   1001020  43298.500  154799.390625
20481     2     12     0      29      50    901        10   1001020  43370.000  154679.062500

[20482 rows x 10 columns]

In [24]:
import pandas as pd
df = pd.read_csv("data903.csv")
df

      date  month  hour  minute  second  index  unknown1  unknown2          x              y
0       30     10    23       9      17    903         4    401511  47086.750  153455.984375
1       30     10    23       9      46    903         4    401511  47424.250  153463.312500
2       30     10    23      10      13    903         4    401511  47527.625  153524.421875
3       30     10    23      10      44    903         4    401511  47562.000  153544.921875
4       30     10    23      11       7    903         4    401511  47992.375  153789.781250
...    ...    ...   ...     ...     ...    ...       ...       ...        ...            ...
3719     9     11     0      46      37    903         1    101002  45623.875  152035.265625
3720     9     11     0      47       5    903         1    101002  45615.500  151655.625000
3721     9     11     0      47      35    903         1    101002  45615.125  151635.578125
3722     9     11     0      48       2    903         1    101002  45656.625  151447.609375
3723     9     11     0      48      30    903         1    101002  46082.125  151275.156250

[3724 rows x 10 columns]